doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script.
      #{fs.newDiscussion}
    script(src="/socket.io/socket.io.js")
    script.
      function spediscidisc(input){
      var socket = io.connect('http://localhost:3000');
        socket.on('news', function(data){
        console.log(data);
        socket.emit('my event', { my: input});
      });
      }
  body
  div.newpostform
    h1 Insert a New Post
    form(name="newpost", action="/newpost", method="post")
      strong Scegli una discussione esistente
      br
      strong o creane una nuova selezionando l'opzione new!
      br
      font Discussion:
      select(name="discussion" onchange="javascript:spediscidisc(this.options[this.selectedIndex].value)")
        each dis, i in disc
          option(value="#{dis.name}") #{dis.name}
        option(value="new") new
      hr
      strong Title
      br
      input(type="text", name="posttitle")
      br
      strong Content
      br
      input(type="text", name="postcontent")
      hr
      font Select a category (optional)
      br
      font Category:
      select(name="category")
        option(value="")
        each cat, i in cats
          option(value="#{cat.name}") #{cat.name}
      hr
      input(type="submit", value="Publish")
    br
  a(href='/') HoMe