doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script.
      #{fs.newDiscussion}
  body
  div.newpostform
    h1 Insert a New Post
    form(name="newpost", action="/newpost", method="post")
      strong Assegna il post ad una discussione esistente
      br
      font Discussion:
      select(name="discussion" onchange="javascript:newDiscussion(this.options[this.selectedIndex].value)")
        each cat, i in cats
          option(value="#{cat.name}") #{cat.name}
        option(value="new") new
      br
      strong Title
      br
      input(type="text", name="posttitle")
      br
      strong Content
      br
      input(type="text", name="postcontent")
      br
      font Select a category (optional)
      br
      font Category:
      select(name="category")
        option(value="")
        each cat, i in cats
          option(value="#{cat.name}") #{cat.name}
      br
      input(type="submit", value="newpost")
    br
  a(href='/') HoMe